pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
  pkgver = 0.11.7
	pkgrel = 2
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.3.6.deb
  source = openwork-desktop-linux-amd64.deb::https://github.com/different-ai/openwork/releases/download/v0.11.7/openwork-desktop-linux-amd64.deb
  sha256sums = b33590add6b4408d7a78eee71ba54af6bc6c9cf355d2174f8baf540fea222029

pkgname = openwork
