{"openapi":"3.1.0","info":{"title":"Den API","description":"OpenAPI spec for the Den control plane API.\n\nAuthentication:\n- Use `Authorization: Bearer <session-token>` for user-authenticated routes that require a Den session.\n- Use `x-api-key: <den-api-key>` for API-key-authenticated routes that accept organization API keys.\n- Public routes like health and documentation do not require authentication.\n\nSwagger tip: use the security schemes in the Authorize dialog to set either `bearerAuth` or `denApiKey` before trying protected endpoints.","version":"dev"},"servers":[{"url":"https://api.openworklabs.com"}],"tags":[{"name":"System","description":"Service health and operational routes."},{"name":"Organizations","description":"Top-level organization creation and context routes."},{"name":"Invitations","description":"Invitation preview, acceptance, creation, and cancellation routes."},{"name":"API Keys","description":"Organization API key management routes."},{"name":"Members","description":"Organization member management routes."},{"name":"Roles","description":"Organization custom role management routes."},{"name":"Teams","description":"Organization team management routes."},{"name":"Templates","description":"Organization shared template routes."},{"name":"LLM Providers","description":"Organization LLM provider catalog, configuration, and access routes."},{"name":"Skills","description":"Organization skill authoring and sharing routes."},{"name":"Skill Hubs","description":"Organization skill hub management and access routes."},{"name":"Workers","description":"Worker lifecycle, billing, and runtime routes."},{"name":"Worker Runtime","description":"Worker runtime inspection and upgrade routes."},{"name":"Worker Activity","description":"Worker heartbeat and activity reporting routes."},{"name":"Admin","description":"Administrative reporting routes."},{"name":"Users","description":"Current user and membership routes."}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"session-token","description":"Session token passed as `Authorization: Bearer <session-token>` for user-authenticated Den routes."},"denApiKey":{"type":"apiKey","in":"header","name":"x-api-key","description":"Organization API key passed as the `x-api-key` header for API-key-authenticated Den routes."}},"schemas":{"DenApiHealthResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"service":{"type":"string","const":"den-api"}},"required":["ok","service"]},"AdminOverviewResponse":{"type":"object","properties":{"viewer":{"type":"object","properties":{"id":{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},"email":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","email","name"]},"admins":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}},"summary":{"type":"object","properties":{},"additionalProperties":{}},"users":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}},"generatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["viewer","admins","summary","users","generatedAt"]},"InvalidRequestError":{"type":"object","properties":{"error":{"type":"string","const":"invalid_request"},"details":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}}},"required":["message"],"additionalProperties":{}}}},"required":["error","details"]},"UnauthorizedError":{"type":"object","properties":{"error":{"type":"string","const":"unauthorized"}},"required":["error"]},"DesktopHandoffGrantResponse":{"type":"object","properties":{"grant":{"type":"string"},"expiresAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"openworkUrl":{"type":"string","format":"uri"}},"required":["grant","expiresAt","openworkUrl"]},"DesktopHandoffExchangeResponse":{"type":"object","properties":{"token":{"type":"string"},"user":{"type":"object","properties":{"id":{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","email","name"]}},"required":["token","user"]},"DesktopHandoffGrantNotFoundError":{"type":"object","properties":{"error":{"type":"string","const":"grant_not_found"},"message":{"type":"string"}},"required":["error","message"]},"CurrentUserResponse":{"type":"object","properties":{"user":{"type":"object","properties":{},"additionalProperties":{}},"session":{"type":"object","properties":{},"additionalProperties":{}}},"required":["user","session"]},"CurrentUserOrganizationsResponse":{"type":"object","properties":{"orgs":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"isActive":{"type":"boolean"}},"required":["id","isActive"],"additionalProperties":{}}},"activeOrgId":{"anyOf":[{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},{"type":"null"}]},"activeOrgSlug":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["orgs","activeOrgId","activeOrgSlug"]},"CurrentUserDesktopConfigResponse":{"type":"object","properties":{"disallowNonCloudModels":{"type":"boolean"},"blockZenModel":{"type":"boolean"},"blockMultipleWorkspaces":{"type":"boolean"},"allowedDesktopVersions":{"type":"array","items":{"type":"string","minLength":1,"maxLength":32}}}},"OrganizationResponse":{"type":"object","properties":{"organization":{"anyOf":[{"type":"object","properties":{},"additionalProperties":{}},{"type":"null"}]}},"required":["organization"]},"PaymentRequiredError":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"polar":{"type":"object","properties":{"checkoutUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"productId":{"anyOf":[{"type":"string"},{"type":"null"}]},"benefitId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["checkoutUrl"],"additionalProperties":{}}},"required":["error","message","polar"]},"ForbiddenError":{"type":"object","properties":{"error":{"type":"string","const":"forbidden"},"message":{"type":"string"}},"required":["error"]},"InvitationPreviewResponse":{"type":"object","properties":{},"additionalProperties":{}},"NotFoundError":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}},"required":["error"]},"InvitationAcceptedResponse":{"type":"object","properties":{"accepted":{"type":"boolean","const":true},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"organizationSlug":{"anyOf":[{"type":"string"},{"type":"null"}]},"invitationId":{"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"}},"required":["accepted","organizationId","organizationSlug","invitationId"]},"AccountEmailDomainNotAllowedError":{"type":"object","properties":{"error":{"type":"string","const":"account_email_domain_not_allowed"},"message":{"type":"string"},"emailDomain":{"anyOf":[{"type":"string"},{"type":"null"}]},"allowedEmailDomains":{"type":"array","items":{"type":"string"}}},"required":["error","message","emailDomain","allowedEmailDomains"]},"InvalidEmailDomainError":{"type":"object","properties":{"error":{"type":"string","const":"invalid_email_domain"},"message":{"type":"string"},"invalidDomains":{"type":"array","items":{"type":"string"}}},"required":["error","message","invalidDomains"]},"DenDesktopAppRestrictions":{"type":"object","properties":{"disallowNonCloudModels":{"type":"boolean"},"blockZenModel":{"type":"boolean"},"blockMultipleWorkspaces":{"type":"boolean"}}},"OrganizationOwner":{"type":"object","properties":{"memberId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"userId":{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"anyOf":[{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},{"type":"null"}]},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["memberId","userId","name","email"]},"OrganizationContextResponse":{"type":"object","properties":{"organization":{"type":"object","properties":{"owner":{"anyOf":[{"$ref":"#/components/schemas/OrganizationOwner"},{"type":"null"}]}},"additionalProperties":{}},"currentMember":{"type":"object","properties":{},"additionalProperties":{}},"currentMemberTeams":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"required":["organization","currentMember","currentMemberTeams"],"additionalProperties":{}},"OrganizationApiKeyOwner":{"type":"object","properties":{"userId":{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},"memberId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"name":{"type":"string"},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["userId","memberId","name","email","image"]},"OrganizationApiKey":{"type":"object","properties":{"id":{"type":"string"},"configId":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"start":{"anyOf":[{"type":"string"},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"rateLimitEnabled":{"type":"boolean"},"rateLimitMax":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"rateLimitTimeWindow":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"lastRequest":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"expiresAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"owner":{"$ref":"#/components/schemas/OrganizationApiKeyOwner"}},"required":["id","configId","name","start","prefix","enabled","rateLimitEnabled","rateLimitMax","rateLimitTimeWindow","lastRequest","expiresAt","createdAt","updatedAt","owner"]},"OrganizationApiKeyListResponse":{"type":"object","properties":{"apiKeys":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationApiKey"}}},"required":["apiKeys"]},"OrganizationApiKeyForbiddenError":{"type":"object","properties":{"error":{"type":"string","const":"forbidden"},"message":{"type":"string"}},"required":["error","message"]},"OrganizationNotFoundError":{"type":"object","properties":{"error":{"type":"string","const":"organization_not_found"}},"required":["error"]},"CreatedOrganizationApiKey":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"start":{"anyOf":[{"type":"string"},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"rateLimitEnabled":{"type":"boolean"},"rateLimitMax":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"rateLimitTimeWindow":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["id","name","start","prefix","enabled","rateLimitEnabled","rateLimitMax","rateLimitTimeWindow","createdAt","updatedAt"]},"CreateOrganizationApiKeyResponse":{"type":"object","properties":{"apiKey":{"$ref":"#/components/schemas/CreatedOrganizationApiKey"},"key":{"type":"string","minLength":1}},"required":["apiKey","key"]},"CreateOrganizationApiKeyRequest":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":64}},"required":["name"]},"OrganizationApiKeyNotFoundError":{"type":"object","properties":{"error":{"type":"string","const":"api_key_not_found"}},"required":["error"]},"InvitationResponse":{"type":"object","properties":{"invitationId":{"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"role":{"type":"string"},"expiresAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["invitationId","email","role","expiresAt"]},"InviteEmailDomainNotAllowedError":{"type":"object","properties":{"error":{"type":"string","const":"invite_email_domain_not_allowed"},"message":{"type":"string"},"emailDomain":{"anyOf":[{"type":"string"},{"type":"null"}]},"allowedEmailDomains":{"type":"array","items":{"type":"string"}}},"required":["error","message","emailDomain","allowedEmailDomains"]},"InvitationEmailFailedError":{"type":"object","properties":{"error":{"type":"string","const":"invitation_email_failed"},"reason":{"type":"string","enum":["loops_not_configured","loops_rejected","loops_network"]},"message":{"type":"string"},"invitationId":{"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"}},"required":["error","reason","message","invitationId"]},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","const":true}},"required":["success"]},"LlmProviderCatalogListResponse":{"type":"object","properties":{"providers":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"required":["providers"]},"ProviderCatalogUnavailableError":{"type":"object","properties":{"error":{"type":"string","const":"provider_catalog_unavailable"},"message":{"type":"string"}},"required":["error","message"]},"LlmProviderCatalogResponse":{"type":"object","properties":{"provider":{"type":"object","properties":{},"additionalProperties":{}}},"required":["provider"]},"LlmProviderListResponse":{"type":"object","properties":{"llmProviders":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"required":["llmProviders"]},"LlmProviderResponse":{"type":"object","properties":{"llmProvider":{"type":"object","properties":{},"additionalProperties":{}}},"required":["llmProvider"]},"ConflictError":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}},"required":["error"]},"PluginArchGithubInstallStartResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"redirectUrl":{"type":"string","format":"uri"},"state":{"type":"string","minLength":1}},"required":["redirectUrl","state"]}},"required":["ok","item"]},"PluginArchConnectorAccount":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cac_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cac_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"connectorType":{"type":"string","enum":["github"]},"remoteId":{"type":"string","minLength":1,"maxLength":255},"externalAccountRef":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"displayName":{"type":"string","minLength":1,"maxLength":255},"status":{"type":"string","enum":["active","inactive","disconnected","error"]},"createdByName":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"metadata":{"type":"object","properties":{},"additionalProperties":{}}},"required":["id","organizationId","connectorType","remoteId","externalAccountRef","displayName","status","createdByOrgMembershipId","createdAt","updatedAt"]},"PluginArchGithubRepository":{"type":"object","properties":{"id":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"fullName":{"type":"string","minLength":1},"defaultBranch":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"hasPluginManifest":{"type":"boolean"},"manifestKind":{"anyOf":[{"type":"string","enum":["marketplace","plugin"]},{"type":"null"}]},"marketplacePluginCount":{"anyOf":[{"type":"integer","minimum":0,"maximum":9007199254740991},{"type":"null"}]},"private":{"type":"boolean"}},"required":["id","fullName","defaultBranch","private"]},"PluginArchGithubInstallCompleteResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"connectorAccount":{"$ref":"#/components/schemas/PluginArchConnectorAccount"},"repositories":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchGithubRepository"}}},"required":["connectorAccount","repositories"]}},"required":["ok","item"]},"PluginArchConfigObjectVersion":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cov_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cov_.*"},"configObjectId":{"description":"Den TypeID with 'cob_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cob_.*"},"schemaVersion":{"anyOf":[{"type":"string","minLength":1,"maxLength":100},{"type":"null"}]},"normalizedPayloadJson":{"anyOf":[{"type":"object","properties":{},"additionalProperties":{}},{"type":"null"}]},"rawSourceText":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdVia":{"type":"string","enum":["cloud","import","connector","system"]},"createdByOrgMembershipId":{"anyOf":[{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},{"type":"null"}]},"connectorSyncEventId":{"anyOf":[{"description":"Den TypeID with 'cse_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cse_.*"},{"type":"null"}]},"sourceRevisionRef":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"isDeletedVersion":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},"required":["id","configObjectId","schemaVersion","normalizedPayloadJson","rawSourceText","createdVia","createdByOrgMembershipId","connectorSyncEventId","sourceRevisionRef","isDeletedVersion","createdAt"]},"PluginArchConfigObject":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cob_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cob_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"objectType":{"type":"string","enum":["skill","agent","command","tool","mcp","hook","context","custom"]},"sourceMode":{"type":"string","enum":["cloud","import","connector"]},"title":{"type":"string","minLength":1,"maxLength":255},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"searchText":{"anyOf":[{"type":"string","minLength":1,"maxLength":65535},{"type":"null"}]},"currentFileName":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"currentFileExtension":{"anyOf":[{"type":"string","minLength":1,"maxLength":32},{"type":"null"}]},"currentRelativePath":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"status":{"type":"string","enum":["active","inactive","deleted","archived","ingestion_error"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"connectorInstanceId":{"anyOf":[{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"deletedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"latestVersion":{"anyOf":[{"$ref":"#/components/schemas/PluginArchConfigObjectVersion"},{"type":"null"}]}},"required":["id","organizationId","objectType","sourceMode","title","description","searchText","currentFileName","currentFileExtension","currentRelativePath","status","createdByOrgMembershipId","connectorInstanceId","createdAt","updatedAt","deletedAt","latestVersion"]},"PluginArchConfigObjectListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConfigObject"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConfigObjectMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchConfigObject"}},"required":["ok","item"]},"PluginArchConfigObjectDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConfigObject"}},"required":["item"]},"PluginArchConfigObjectVersionListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConfigObjectVersion"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConfigObjectVersionDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConfigObjectVersion"}},"required":["item"]},"PluginArchPluginMembership":{"type":"object","properties":{"id":{"description":"Den TypeID with 'pco_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^pco_.*"},"pluginId":{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},"configObjectId":{"description":"Den TypeID with 'cob_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cob_.*"},"membershipSource":{"type":"string","enum":["manual","connector","api","system"]},"connectorMappingId":{"anyOf":[{"description":"Den TypeID with 'cmp_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cmp_.*"},{"type":"null"}]},"createdByOrgMembershipId":{"anyOf":[{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"removedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"configObject":{"$ref":"#/components/schemas/PluginArchConfigObject"}},"required":["id","pluginId","configObjectId","membershipSource","connectorMappingId","createdByOrgMembershipId","createdAt","removedAt"]},"PluginArchPluginMembershipListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchPluginMembership"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchPluginMembershipMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchPluginMembership"}},"required":["ok","item"]},"PluginArchAccessGrant":{"type":"object","properties":{"id":{"anyOf":[{"description":"Den TypeID with 'coa_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^coa_.*"},{"description":"Den TypeID with 'pag_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^pag_.*"},{"description":"Den TypeID with 'mag_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mag_.*"},{"description":"Den TypeID with 'cia_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cia_.*"}]},"orgMembershipId":{"anyOf":[{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},{"type":"null"}]},"teamId":{"anyOf":[{"description":"Den TypeID with 'tem_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^tem_.*"},{"type":"null"}]},"orgWide":{"type":"boolean"},"role":{"type":"string","enum":["viewer","editor","manager"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"removedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]}},"required":["id","orgMembershipId","teamId","orgWide","role","createdByOrgMembershipId","createdAt","removedAt"]},"PluginArchAccessGrantListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchAccessGrant"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchAccessGrantMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchAccessGrant"}},"required":["ok","item"]},"PluginArchPlugin":{"type":"object","properties":{"id":{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"name":{"type":"string","minLength":1,"maxLength":255},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"status":{"type":"string","enum":["active","inactive","deleted","archived"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"deletedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"memberCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"marketplaces":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Den TypeID with 'mkt_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkt_.*"},"name":{"type":"string","minLength":1,"maxLength":255}},"required":["id","name"]}}},"required":["id","organizationId","name","description","status","createdByOrgMembershipId","createdAt","updatedAt","deletedAt"]},"PluginArchPluginListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchPlugin"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchPluginMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchPlugin"}},"required":["ok","item"]},"PluginArchPluginDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchPlugin"}},"required":["item"]},"PluginArchMarketplace":{"type":"object","properties":{"id":{"description":"Den TypeID with 'mkt_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkt_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"name":{"type":"string","minLength":1,"maxLength":255},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"status":{"type":"string","enum":["active","inactive","deleted","archived"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"deletedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"pluginCount":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["id","organizationId","name","description","status","createdByOrgMembershipId","createdAt","updatedAt","deletedAt"]},"PluginArchMarketplaceListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchMarketplace"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchMarketplaceMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchMarketplace"}},"required":["ok","item"]},"PluginArchMarketplaceDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchMarketplace"}},"required":["item"]},"PluginArchMarketplacePluginMembership":{"type":"object","properties":{"id":{"description":"Den TypeID with 'mkp_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkp_.*"},"marketplaceId":{"description":"Den TypeID with 'mkt_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkt_.*"},"pluginId":{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},"membershipSource":{"type":"string","enum":["manual","connector","api","system"]},"createdByOrgMembershipId":{"anyOf":[{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"removedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"plugin":{"$ref":"#/components/schemas/PluginArchPlugin"}},"required":["id","marketplaceId","pluginId","membershipSource","createdByOrgMembershipId","createdAt","removedAt"]},"PluginArchMarketplacePluginListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchMarketplacePluginMembership"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchMarketplaceResolvedResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"marketplace":{"$ref":"#/components/schemas/PluginArchMarketplace"},"plugins":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"name":{"type":"string","minLength":1,"maxLength":255},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"status":{"type":"string","enum":["active","inactive","deleted","archived"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"deletedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"memberCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"marketplaces":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Den TypeID with 'mkt_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkt_.*"},"name":{"type":"string","minLength":1,"maxLength":255}},"required":["id","name"]}},"componentCounts":{"default":{},"type":"object","propertyNames":{"type":"string"},"additionalProperties":{"type":"integer","minimum":0,"maximum":9007199254740991}}},"required":["id","organizationId","name","description","status","createdByOrgMembershipId","createdAt","updatedAt","deletedAt"]}},"source":{"anyOf":[{"type":"object","properties":{"connectorAccountId":{"description":"Den TypeID with 'cac_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cac_.*"},"connectorInstanceId":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},"accountLogin":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"repositoryFullName":{"type":"string","minLength":1},"branch":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]}},"required":["connectorAccountId","connectorInstanceId","accountLogin","repositoryFullName","branch"]},{"type":"null"}]}},"required":["marketplace","plugins","source"]}},"required":["ok","item"]},"PluginArchMarketplacePluginMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchMarketplacePluginMembership"}},"required":["ok","item"]},"PluginArchConnectorAccountListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorAccount"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorAccountMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchConnectorAccount"}},"required":["ok","item"]},"PluginArchConnectorAccountDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConnectorAccount"}},"required":["item"]},"PluginArchConnectorAccountDisconnectResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"deletedConfigObjectCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"deletedConnectorInstanceCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"deletedConnectorMappingCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"disconnectedAccountId":{"description":"Den TypeID with 'cac_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cac_.*"},"reason":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["deletedConfigObjectCount","deletedConnectorInstanceCount","deletedConnectorMappingCount","disconnectedAccountId","reason"]}},"required":["ok","item"]},"PluginArchConnectorInstance":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"connectorAccountId":{"description":"Den TypeID with 'cac_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cac_.*"},"connectorType":{"type":"string","enum":["github"]},"remoteId":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"name":{"type":"string","minLength":1,"maxLength":255},"status":{"type":"string","enum":["active","disabled","archived","error"]},"instanceConfigJson":{"anyOf":[{"type":"object","properties":{},"additionalProperties":{}},{"type":"null"}]},"lastSyncedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"lastSyncStatus":{"anyOf":[{"type":"string","enum":["pending","queued","running","completed","failed","partial","ignored"]},{"type":"null"}]},"lastSyncCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},"required":["id","organizationId","connectorAccountId","connectorType","remoteId","name","status","instanceConfigJson","lastSyncedAt","lastSyncStatus","lastSyncCursor","createdByOrgMembershipId","createdAt","updatedAt"]},"PluginArchConnectorInstanceListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorInstance"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorInstanceMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchConnectorInstance"}},"required":["ok","item"]},"PluginArchConnectorInstanceDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConnectorInstance"}},"required":["item"]},"PluginArchConnectorInstanceConfiguredPlugin":{"type":"object","properties":{"id":{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"name":{"type":"string","minLength":1,"maxLength":255},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"status":{"type":"string","enum":["active","inactive","deleted","archived"]},"createdByOrgMembershipId":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"deletedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]},"memberCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"marketplaces":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Den TypeID with 'mkt_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^mkt_.*"},"name":{"type":"string","minLength":1,"maxLength":255}},"required":["id","name"]}},"componentCounts":{"default":{},"type":"object","propertyNames":{"type":"string"},"additionalProperties":{"type":"integer","minimum":0,"maximum":9007199254740991}},"rootPath":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","organizationId","name","description","status","createdByOrgMembershipId","createdAt","updatedAt","deletedAt","rootPath"]},"PluginArchConnectorInstanceConfigurationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"autoImportNewPlugins":{"type":"boolean"},"configuredPlugins":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorInstanceConfiguredPlugin"}},"connectorInstance":{"$ref":"#/components/schemas/PluginArchConnectorInstance"},"importedConfigObjectCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"mappingCount":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["autoImportNewPlugins","configuredPlugins","connectorInstance","importedConfigObjectCount","mappingCount"]}},"required":["ok","item"]},"PluginArchConnectorInstanceRemoveResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"deletedConfigObjectCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"deletedConnectorMappingCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"removedConnectorInstanceId":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"}},"required":["deletedConfigObjectCount","deletedConnectorMappingCount","removedConnectorInstanceId"]}},"required":["ok","item"]},"PluginArchConnectorTarget":{"type":"object","properties":{"id":{"description":"Den TypeID with 'ctg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^ctg_.*"},"connectorInstanceId":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},"connectorType":{"type":"string","enum":["github"]},"remoteId":{"type":"string","minLength":1,"maxLength":255},"targetKind":{"type":"string","enum":["repository_branch"]},"externalTargetRef":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"targetConfigJson":{"type":"object","properties":{},"additionalProperties":{}},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},"required":["id","connectorInstanceId","connectorType","remoteId","targetKind","externalTargetRef","targetConfigJson","createdAt","updatedAt"]},"PluginArchGithubDiscoveredPlugin":{"type":"object","properties":{"key":{"type":"string","minLength":1},"sourceKind":{"type":"string","enum":["marketplace_entry","plugin_manifest","standalone_claude","folder_inference"]},"rootPath":{"type":"string"},"displayName":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"selectedByDefault":{"type":"boolean"},"supported":{"type":"boolean"},"manifestPath":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"warnings":{"type":"array","items":{"type":"string","minLength":1}},"componentKinds":{"type":"array","items":{"type":"string","enum":["skill","command","agent","hook","mcp_server","lsp_server","monitor","settings"]}},"componentPaths":{"type":"object","properties":{"agents":{"type":"array","items":{"type":"string","minLength":1}},"commands":{"type":"array","items":{"type":"string","minLength":1}},"hooks":{"type":"array","items":{"type":"string","minLength":1}},"lspServers":{"type":"array","items":{"type":"string","minLength":1}},"mcpServers":{"type":"array","items":{"type":"string","minLength":1}},"monitors":{"type":"array","items":{"type":"string","minLength":1}},"settings":{"type":"array","items":{"type":"string","minLength":1}},"skills":{"type":"array","items":{"type":"string","minLength":1}}},"required":["agents","commands","hooks","lspServers","mcpServers","monitors","settings","skills"]},"metadata":{"type":"object","properties":{},"additionalProperties":{}}},"required":["key","sourceKind","rootPath","displayName","description","selectedByDefault","supported","manifestPath","warnings","componentKinds","componentPaths","metadata"]},"PluginArchGithubDiscoveryStep":{"type":"object","properties":{"id":{"type":"string","enum":["read_repository_structure","check_marketplace_manifest","check_plugin_manifests","prepare_discovered_plugins"]},"label":{"type":"string","minLength":1},"status":{"type":"string","enum":["completed","running","warning"]}},"required":["id","label","status"]},"PluginArchGithubDiscoveryTreeSummary":{"type":"object","properties":{"scannedEntryCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"strategy":{"type":"string","enum":["git-tree-recursive"]},"truncated":{"type":"boolean"}},"required":["scannedEntryCount","strategy","truncated"]},"PluginArchGithubConnectorDiscoveryResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"autoImportNewPlugins":{"type":"boolean"},"classification":{"type":"string","enum":["claude_marketplace_repo","claude_multi_plugin_repo","claude_single_plugin_repo","folder_inferred_repo","unsupported"]},"connectorInstance":{"$ref":"#/components/schemas/PluginArchConnectorInstance"},"connectorTarget":{"$ref":"#/components/schemas/PluginArchConnectorTarget"},"discoveredPlugins":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchGithubDiscoveredPlugin"}},"repositoryFullName":{"type":"string","minLength":1},"sourceRevisionRef":{"type":"string","minLength":1},"steps":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchGithubDiscoveryStep"}},"treeSummary":{"$ref":"#/components/schemas/PluginArchGithubDiscoveryTreeSummary"},"warnings":{"type":"array","items":{"type":"string","minLength":1}}},"required":["autoImportNewPlugins","classification","connectorInstance","connectorTarget","discoveredPlugins","repositoryFullName","sourceRevisionRef","steps","treeSummary","warnings"]}},"required":["ok","item"]},"PluginArchGithubDiscoveryTreeEntry":{"type":"object","properties":{"id":{"type":"string","minLength":1},"kind":{"type":"string","enum":["blob","tree"]},"path":{"type":"string","minLength":1},"sha":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"size":{"anyOf":[{"type":"integer","minimum":0,"maximum":9007199254740991},{"type":"null"}]}},"required":["id","kind","path","sha","size"]},"PluginArchGithubDiscoveryTreeResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchGithubDiscoveryTreeEntry"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorMapping":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cmp_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cmp_.*"},"connectorInstanceId":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},"connectorTargetId":{"description":"Den TypeID with 'ctg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^ctg_.*"},"connectorType":{"type":"string","enum":["github"]},"remoteId":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"mappingKind":{"type":"string","enum":["path","api","custom"]},"selector":{"type":"string","minLength":1,"maxLength":255},"objectType":{"type":"string","enum":["skill","agent","command","tool","mcp","hook","context","custom"]},"pluginId":{"anyOf":[{"description":"Den TypeID with 'plg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^plg_.*"},{"type":"null"}]},"autoAddToPlugin":{"type":"boolean"},"mappingConfigJson":{"anyOf":[{"type":"object","properties":{},"additionalProperties":{}},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},"required":["id","connectorInstanceId","connectorTargetId","connectorType","remoteId","mappingKind","selector","objectType","pluginId","autoAddToPlugin","mappingConfigJson","createdAt","updatedAt"]},"PluginArchGithubDiscoveryApplyResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"autoImportNewPlugins":{"type":"boolean"},"createdMarketplace":{"anyOf":[{"$ref":"#/components/schemas/PluginArchMarketplace"},{"type":"null"}]},"connectorInstance":{"$ref":"#/components/schemas/PluginArchConnectorInstance"},"connectorTarget":{"$ref":"#/components/schemas/PluginArchConnectorTarget"},"createdPlugins":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchPlugin"}},"createdMappings":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorMapping"}},"materializedConfigObjects":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConfigObject"}},"sourceRevisionRef":{"type":"string","minLength":1}},"required":["autoImportNewPlugins","connectorInstance","connectorTarget","createdPlugins","createdMappings","materializedConfigObjects","sourceRevisionRef"]}},"required":["ok","item"]},"PluginArchConnectorTargetListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorTarget"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorTargetMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchConnectorTarget"}},"required":["ok","item"]},"PluginArchConnectorTargetDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConnectorTarget"}},"required":["item"]},"PluginArchConnectorSyncAsyncResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"queued":{"type":"boolean","const":true},"job":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cse_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cse_.*"}},"required":["id"]}},"required":["ok","queued","job"]},"PluginArchConnectorMappingListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorMapping"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorMappingMutationResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"$ref":"#/components/schemas/PluginArchConnectorMapping"}},"required":["ok","item"]},"PluginArchConnectorSyncSummary":{"type":"object","properties":{"createdCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"updatedCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"deletedCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"skippedCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"failedCount":{"type":"integer","minimum":0,"maximum":9007199254740991},"failures":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"additionalProperties":{}},"PluginArchConnectorSyncEvent":{"type":"object","properties":{"id":{"description":"Den TypeID with 'cse_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cse_.*"},"connectorInstanceId":{"description":"Den TypeID with 'cin_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^cin_.*"},"connectorTargetId":{"anyOf":[{"description":"Den TypeID with 'ctg_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^ctg_.*"},{"type":"null"}]},"connectorType":{"type":"string","enum":["github"]},"remoteId":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"eventType":{"type":"string","enum":["push","installation","installation_repositories","repository","manual_resync"]},"externalEventRef":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"sourceRevisionRef":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]},"status":{"type":"string","enum":["pending","queued","running","completed","failed","partial","ignored"]},"summaryJson":{"anyOf":[{"$ref":"#/components/schemas/PluginArchConnectorSyncSummary"},{"type":"null"}]},"startedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"completedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]}},"required":["id","connectorInstanceId","connectorTargetId","connectorType","remoteId","eventType","externalEventRef","sourceRevisionRef","status","summaryJson","startedAt","completedAt"]},"PluginArchConnectorSyncEventListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchConnectorSyncEvent"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchConnectorSyncEventDetailResponse":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PluginArchConnectorSyncEvent"}},"required":["item"]},"PluginArchGithubSetupResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"connectorAccount":{"$ref":"#/components/schemas/PluginArchConnectorAccount"},"connectorInstance":{"$ref":"#/components/schemas/PluginArchConnectorInstance"},"connectorTarget":{"$ref":"#/components/schemas/PluginArchConnectorTarget"}},"required":["connectorAccount","connectorInstance","connectorTarget"]}},"required":["ok","item"]},"PluginArchGithubRepositoryListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PluginArchGithubRepository"}},"nextCursor":{"anyOf":[{"type":"string","minLength":1,"maxLength":255},{"type":"null"}]}},"required":["items","nextCursor"]},"PluginArchGithubValidateTargetResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"item":{"type":"object","properties":{"branchExists":{"type":"boolean"},"defaultBranch":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}]},"repositoryAccessible":{"type":"boolean"}},"required":["branchExists","defaultBranch","repositoryAccessible"]}},"required":["ok","item"]},"SkillResponse":{"type":"object","properties":{"skill":{"type":"object","properties":{},"additionalProperties":{}}},"required":["skill"]},"SkillListResponse":{"type":"object","properties":{"skills":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"required":["skills"]},"SkillHubResponse":{"type":"object","properties":{"skillHub":{"type":"object","properties":{},"additionalProperties":{}}},"required":["skillHub"]},"SkillHubListResponse":{"type":"object","properties":{"skillHubs":{"type":"array","items":{"type":"object","properties":{},"additionalProperties":{}}}},"required":["skillHubs"]},"SkillHubAccessResponse":{"type":"object","properties":{"access":{"type":"object","properties":{},"additionalProperties":{}}},"required":["access"]},"TeamResponse":{"type":"object","properties":{"team":{"type":"object","properties":{"id":{"description":"Den TypeID with 'tem_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^tem_.*"},"organizationId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"memberIds":{"type":"array","items":{"description":"Den TypeID with 'om_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":29,"maxLength":29,"pattern":"^om_.*"}}},"required":["id","organizationId","name","createdAt","updatedAt","memberIds"]}},"required":["team"]},"DenAppVersionResponse":{"type":"object","properties":{"minAppVersion":{"type":"string"},"latestAppVersion":{"type":"string","minLength":1}},"required":["minAppVersion","latestAppVersion"]},"PluginArchGithubWebhookIgnoredResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"accepted":{"type":"boolean","const":false},"reason":{"type":"string","minLength":1}},"required":["ok","accepted","reason"]},"PluginArchGithubWebhookAcceptedResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"accepted":{"type":"boolean","const":true},"event":{"type":"string","enum":["push","installation","installation_repositories","repository"]},"deliveryId":{"type":"string","minLength":1},"queued":{"type":"boolean"}},"required":["ok","accepted","event","deliveryId","queued"]},"PluginArchGithubWebhookUnauthorizedResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":false},"error":{"type":"string","const":"invalid signature"}},"required":["ok","error"]},"WorkerHeartbeatResponse":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"workerId":{"type":"string"},"isActiveRecently":{"type":"boolean"},"openSessionCount":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"lastHeartbeatAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"lastActiveAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]}},"required":["ok","workerId","isActiveRecently","openSessionCount","lastHeartbeatAt","lastActiveAt"]},"WorkerBillingResponse":{"type":"object","properties":{"billing":{"type":"object","properties":{"status":{"type":"string"},"featureGateEnabled":{"type":"boolean"},"productId":{"anyOf":[{"type":"string"},{"type":"null"}]},"benefitId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["status","featureGateEnabled"],"additionalProperties":{}}},"required":["billing"]},"UserEmailRequiredError":{"type":"object","properties":{"error":{"type":"string","const":"user_email_required"}},"required":["error"]},"WorkerBillingSubscriptionResponse":{"type":"object","properties":{"subscription":{"type":"object","properties":{},"additionalProperties":{}},"billing":{"type":"object","properties":{"status":{"type":"string"},"featureGateEnabled":{"type":"boolean"},"productId":{"anyOf":[{"type":"string"},{"type":"null"}]},"benefitId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["status","featureGateEnabled"],"additionalProperties":{}}},"required":["subscription","billing"]},"WorkerInstance":{"anyOf":[{"type":"object","properties":{"provider":{"type":"string"},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["provider","region","url","status","createdAt","updatedAt"]},{"type":"null"}]},"WorkerListResponse":{"type":"object","properties":{"workers":{"type":"array","items":{"type":"object","properties":{"instance":{"$ref":"#/components/schemas/WorkerInstance"},"id":{"description":"Den TypeID with 'wrk_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^wrk_.*"},"orgId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"createdByUserId":{"anyOf":[{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},{"type":"null"}]},"isMine":{"type":"boolean"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"destination":{"type":"string"},"status":{"type":"string"},"imageVersion":{"anyOf":[{"type":"string"},{"type":"null"}]},"workspacePath":{"anyOf":[{"type":"string"},{"type":"null"}]},"sandboxBackend":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastHeartbeatAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"lastActiveAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["instance","id","orgId","createdByUserId","isMine","name","description","destination","status","imageVersion","workspacePath","sandboxBackend","lastHeartbeatAt","lastActiveAt","createdAt","updatedAt"]}}},"required":["workers"]},"Worker":{"type":"object","properties":{"id":{"description":"Den TypeID with 'wrk_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^wrk_.*"},"orgId":{"description":"Den TypeID with 'org_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^org_.*"},"createdByUserId":{"anyOf":[{"description":"Den TypeID with 'usr_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^usr_.*"},{"type":"null"}]},"isMine":{"type":"boolean"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"destination":{"type":"string"},"status":{"type":"string"},"imageVersion":{"anyOf":[{"type":"string"},{"type":"null"}]},"workspacePath":{"anyOf":[{"type":"string"},{"type":"null"}]},"sandboxBackend":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastHeartbeatAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"lastActiveAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["id","orgId","createdByUserId","isMine","name","description","destination","status","imageVersion","workspacePath","sandboxBackend","lastHeartbeatAt","lastActiveAt","createdAt","updatedAt"]},"WorkerCreateResponse":{"type":"object","properties":{"worker":{"$ref":"#/components/schemas/Worker"},"tokens":{"type":"object","properties":{"owner":{"type":"string"},"host":{"type":"string"},"client":{"type":"string"}},"required":["owner","host","client"]},"instance":{"$ref":"#/components/schemas/WorkerInstance"},"launch":{"type":"object","properties":{"mode":{"type":"string"},"pollAfterMs":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["mode","pollAfterMs"]}},"required":["worker","tokens","instance","launch"]},"OrganizationUnavailableError":{"type":"object","properties":{"error":{"type":"string","const":"organization_unavailable"}},"required":["error"]},"WorkspacePathRequiredError":{"type":"object","properties":{"error":{"type":"string","const":"workspace_path_required"}},"required":["error"]},"WorkerOrgLimitReachedError":{"type":"object","properties":{"error":{"type":"string","const":"org_limit_reached"},"limitType":{"type":"string","const":"workers"},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"currentCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"message":{"type":"string"}},"required":["error","limitType","limit","currentCount","message"]},"WorkerResponse":{"type":"object","properties":{"worker":{"$ref":"#/components/schemas/Worker"},"instance":{"$ref":"#/components/schemas/WorkerInstance"}},"required":["worker","instance"]},"WorkerUpdateResponse":{"type":"object","properties":{"worker":{"$ref":"#/components/schemas/Worker"}},"required":["worker"]},"WorkerTokensResponse":{"type":"object","properties":{"tokens":{"type":"object","properties":{"owner":{"type":"string"},"host":{"type":"string"},"client":{"type":"string"}},"required":["owner","host","client"]},"connect":{"anyOf":[{"type":"object","properties":{"openworkUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"workspaceId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["openworkUrl","workspaceId"]},{"type":"null"}]}},"required":["tokens","connect"]},"WorkerConnectionError":{"anyOf":[{"type":"object","properties":{"error":{"type":"string","const":"worker_tokens_unavailable"},"message":{"type":"string"}},"required":["error","message"]},{"type":"object","properties":{"error":{"type":"string","const":"worker_runtime_unavailable"},"message":{"type":"string"}},"required":["error","message"]}]},"WorkerRuntimeResponse":{"type":"object","properties":{},"additionalProperties":{}},"OpenApiDocument":{"type":"object","properties":{"openapi":{"type":"string"},"info":{"type":"object","properties":{"title":{"type":"string"},"version":{"type":"string"}},"required":["title","version"],"additionalProperties":{}},"paths":{"type":"object","propertyNames":{"type":"string"},"additionalProperties":{}},"components":{"type":"object","properties":{},"additionalProperties":{}}},"required":["openapi","info","paths"],"additionalProperties":{}}}},"paths":{"/health":{"get":{"operationId":"getHealth","tags":["System"],"summary":"Check den-api health","description":"Returns a lightweight health payload for den-api.","responses":{"200":{"description":"den-api is reachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenApiHealthResponse"}}}}}}},"/v1/admin/overview":{"get":{"operationId":"getV1AdminOverview","tags":["Admin"],"summary":"Get admin overview","description":"Returns a high-level administrative overview of users, sessions, workers, admins, and optional billing data for Den operations.","responses":{"200":{"description":"Administrative overview returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminOverviewResponse"}}}},"400":{"description":"The admin overview query parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be an authenticated admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}}},"parameters":[{"in":"query","name":"includeBilling","schema":{"type":"string"}}]}},"/api/auth/.well-known/oauth-authorization-server":{"get":{"operationId":"getApiAuthWellKnownOauthAuthorizationServer","responses":{"200":{"description":"Response"}}}},"/api/auth/.well-known/openid-configuration":{"get":{"operationId":"getApiAuthWellKnownOpenidConfiguration","responses":{"200":{"description":"Response"}}}},"/.well-known/oauth-authorization-server/api/auth":{"get":{"operationId":"getWellKnownOauthAuthorizationServerApiAuth","responses":{"200":{"description":"Response"}}}},"/.well-known/openid-configuration/api/auth":{"get":{"operationId":"getWellKnownOpenidConfigurationApiAuth","responses":{"200":{"description":"Response"}}}},"/.well-known/oauth-authorization-server":{"get":{"operationId":"getWellKnownOauthAuthorizationServer","responses":{"200":{"description":"Response"}}}},"/.well-known/openid-configuration":{"get":{"operationId":"getWellKnownOpenidConfiguration","responses":{"200":{"description":"Response"}}}},"/register":{"post":{"operationId":"postRegister","responses":{"200":{"description":"Response"}}}},"/api/auth/oauth2/register":{"post":{"operationId":"postApiAuthOauth2Register","responses":{"200":{"description":"Response"}}}},"/api/auth/oauth2/authorize":{"get":{"operationId":"getApiAuthOauth2Authorize","responses":{"200":{"description":"Response"}}}},"/v1/me":{"get":{"operationId":"getV1Me","tags":["Users"],"summary":"Get current user","description":"Returns the currently authenticated user and active session details for the caller.","responses":{"200":{"description":"Current user and session returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentUserResponse"}}}},"401":{"description":"The caller must be signed in to read profile data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}}}}},"/v1/me/orgs":{"get":{"operationId":"getV1MeOrgs","tags":["Users"],"summary":"List current user's organizations","description":"Lists the organizations visible to the current user and marks which organization is currently active.","responses":{"200":{"description":"Current user organizations returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentUserOrganizationsResponse"}}}}}}},"/v1/me/desktop-config":{"get":{"operationId":"getV1MeDesktopConfig","tags":["Users"],"summary":"Get current user's desktop config","description":"Returns the authenticated desktop app restrictions for the caller's active organization.","responses":{"200":{"description":"Current user desktop config returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentUserDesktopConfigResponse"}}}},"401":{"description":"The caller must be signed in to read desktop config.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}}}}},"/v1/org":{"patch":{"operationId":"patchV1Org","tags":["Organizations"],"summary":"Update organization","description":"Updates organization fields that workspace owners are allowed to change, including the display name, allowed invitation email domains, and desktop app restrictions. The slug is immutable to avoid breaking dashboard URLs.","responses":{"200":{"description":"Organization updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationResponse"}}}},"400":{"description":"The organization update request body was invalid or contained malformed email domains.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidEmailDomainError"}}}},"401":{"description":"The caller must be signed in to update an organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Only workspace owners can update the organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"The organization could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":120},"allowedEmailDomains":{"anyOf":[{"maxItems":100,"type":"array","items":{"type":"string","minLength":1,"maxLength":255}},{"type":"null"}]},"desktopAppRestrictions":{"$ref":"#/components/schemas/DenDesktopAppRestrictions"},"allowedDesktopVersions":{"anyOf":[{"maxItems":200,"type":"array","items":{"type":"string","minLength":1,"maxLength":32}},{"type":"null"}]}}}}}}},"get":{"operationId":"getV1Org","tags":["Organizations"],"summary":"Get active organization","description":"Returns the active organization from the current session, including its owner, the current member record, and their team memberships.","responses":{"200":{"description":"Organization context returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationContextResponse"}}}},"401":{"description":"The caller must be signed in to load organization context.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"The organization could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/v1/orgs/invitations/preview":{"get":{"operationId":"getV1OrgsInvitationsPreview","tags":["Invitations"],"summary":"Preview organization invitation","description":"Returns invitation preview details so a user can inspect an organization invite before accepting it.","responses":{"200":{"description":"Invitation preview returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationPreviewResponse"}}}},"400":{"description":"The invitation preview query parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"404":{"description":"The invitation could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"parameters":[{"in":"query","name":"id","schema":{"format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"},"required":true,"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix."}]}},"/v1/orgs/invitations/accept":{"post":{"operationId":"postV1OrgsInvitationsAccept","tags":["Invitations"],"summary":"Accept organization invitation","description":"Accepts an organization invitation for the current signed-in user and switches their active organization to the accepted workspace.","responses":{"200":{"description":"Invitation accepted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationAcceptedResponse"}}}},"400":{"description":"The invitation acceptance request body was invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be signed in to accept an invitation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"API keys cannot accept organization invitations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"The invitation could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The current account email is not allowed to join this organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEmailDomainNotAllowedError"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix.","format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"}},"required":["id"]}}}}}},"/v1/api-keys":{"get":{"operationId":"getV1ApiKeys","tags":["API Keys"],"summary":"List organization API keys","description":"Returns the API keys that belong to the selected organization.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Organization API keys","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiKeyListResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Only workspace owners and admins can list API keys.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiKeyForbiddenError"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationNotFoundError"}}}}}}},"/v1/invitations":{"post":{"operationId":"postV1Invitations","tags":["Invitations"],"summary":"Create organization invitation","description":"Creates or refreshes a pending organization invitation for an email address and sends the invite email. Returns 502 when the invitation row is persisted but the email provider (Loops) failed to send; the client should surface the error and give the user a retry affordance.","responses":{"200":{"description":"Existing invitation refreshed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationResponse"}}}},"201":{"description":"Invitation created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationResponse"}}}},"400":{"description":"The invitation request body or path parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be signed in to invite organization members.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Only workspace owners and admins can create or resend invitations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"The organization could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The email address is outside this workspace's allowed domains.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteEmailDomainNotAllowedError"}}}},"502":{"description":"The invitation was saved but the email provider (Loops) rejected or failed to deliver it. Retry by submitting the same email again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationEmailFailedError"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"role":{"type":"string","minLength":1,"maxLength":64}},"required":["email","role"]}}}}}},"/v1/invitations/{invitationId}/cancel":{"post":{"operationId":"postV1InvitationsByInvitationIdCancel","tags":["Invitations"],"summary":"Cancel organization invitation","description":"Cancels a pending organization invitation so the invite link can no longer be used.","responses":{"200":{"description":"Invitation cancelled successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"The invitation cancellation path parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be signed in to cancel invitations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Only workspace owners and admins can cancel invitations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"The invitation or organization could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"parameters":[{"in":"path","name":"invitationId","schema":{"format":"typeid","type":"string","minLength":30,"maxLength":30,"pattern":"^inv_.*"},"required":true,"description":"Den TypeID with 'inv_' prefix and a 26-character base32 suffix."}]}},"/v1/llm-provider-catalog":{"get":{"operationId":"getV1LlmProviderCatalog","tags":["LLM Providers"],"summary":"List LLM provider catalog","description":"Lists the provider catalog from models.dev so an organization can choose which LLM providers to configure.","responses":{"200":{"description":"Provider catalog returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LlmProviderCatalogListResponse"}}}},"400":{"description":"The provider catalog path parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be signed in to browse the provider catalog.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"502":{"description":"The external provider catalog was unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderCatalogUnavailableError"}}}}}}},"/v1/llm-provider-catalog/{providerId}":{"get":{"operationId":"getV1LlmProviderCatalogByProviderId","tags":["LLM Providers"],"summary":"Get LLM provider catalog entry","description":"Returns the full models.dev catalog record for one provider, including its config template and model list.","responses":{"200":{"description":"Provider catalog entry returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LlmProviderCatalogResponse"}}}},"400":{"description":"The provider catalog path parameters were invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"The caller must be signed in to inspect provider catalog entries.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"The requested provider catalog entry could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"502":{"description":"The external provider catalog was unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderCatalogUnavailableError"}}}}},"parameters":[{"in":"path","name":"providerId","schema":{"type":"string","minLength":1,"maxLength":255},"required":true}]}},"/v1/llm-providers":{"get":{"operationId":"getV1LlmProviders","tags":["LLM Providers"],"summary":"List organization LLM providers","description":"Lists the LLM providers that the current organization member is allowed to see and potentially manage.","responses":{"200":{"description":"Accessible organization LLM providers returned successfully."
[...]
